<div class="container-fluid">
  <h1>Hacker rank Angular Certification Intermediate Test</h1>

  <main>
    <div class="row">
      <div class="col-sm-3">
        <aside>
          <app-filter [filtertype]="status" [filtervalues]="statuses"></app-filter>
          <hr>
          <app-filter [filtertype]="category" [filtervalues]="categories"></app-filter>
        </aside>
      </div>
      <div class="col-sm-9">
        <app-survey></app-survey>
      </div>
    </div>
  </main>
</div>
<!-- <router-outlet></router-outlet> -->